<div class="large-3 medium-4 columns">
  <ol class="side-nav">
    <li><a href="#">Setup Test</a></li>
    <li><a href="#">Collect Data</a></li>
    <li><a href="#">Results</a></li>
  </ol>
</div>
<div class="large-9 medium-8 columns">
  <h1>Setup Test</h1>
  <label>
  Type:
  {{view "select" content=types value=selectedType}}
  </label> 
  <br/>
  <label>
  Increment:
  {{ember-ion-rangeslider
    from_min="false"
    from_max="false"
    to_min="false"
    to_max="false"
    min=incrementMin
    max=incrementMax
    step=incrementStep
    from=selectedIncrement
    postfix="v"}}
  </label>
  
  <label>
  Voltage Range:
  {{ember-ion-rangeslider
    type="double"
    grid=true
    from_min="false"
    from_max="false"
    to_min="false"
    to_max="false"
    min=voltageRangeMin
    max=voltageRangeMax
    step=voltageRangeStep
    from=selectedVoltageRangeFrom
    to=selectedVoltageRangeTo
    postfix="v"}}
  </label>
  <hr />
  {{input type="button" value="Start" class="button"}}
  
  
  {{outlet}}
</div>
