<h3>Current Configuration</h3>
Type: {{selectedType}}
<br />
Increment: {{selectedIncrement}}
<br />
Voltage Range From: {{selectedVoltageRangeFrom}}
<br />
Voltage Range To: {{selectedVoltageRangeTo}}

{{test-chart test=model}}

