<h3>Current Configuration</h3>
Type: {{model.type}}
<br />
Increment: {{model.increment}}
<br />
Voltage Range From: {{model.voltageRangeFrom}}
<br />
Voltage Range To: {{model.voltageRangeTo}}

{{test-chart test=model}}

