<div class="large-3 medium-4 columns">
  <ol class="side-nav">
    <li><a href="#">Setup Test</a></li>
    <li><a href="#">Results</a></li>
  </ol>
</div>
<div class="large-9 medium-8 columns">
  <h1>Setup Test</h1>
  <label>
  Type:
  {{view "select" content=types value=model.type}}
  </label> 
  <br/>

  <label>
  Voltage Range:
  {{ember-ion-rangeslider
    type="double"
    grid=true
    from_min="false"
    from_max="false"
    to_min="false"
    to_max="false"
    min=voltageRangeMin
    max=voltageRangeMax
    step=voltageRangeStep
    from=model.voltageRangeFrom
    to=model.voltageRangeTo
    postfix="v"}}
  </label>

  <label>
  Voltage Step:
  {{ember-ion-rangeslider
    from_min="false"
    from_max="false"
    to_min="false"
    to_max="false"
    min=incrementMin
    max=incrementMax
    step=incrementStep
    from=model.increment
    postfix="v"}}
  </label>

  {{current-steps steps=model.currentSteps addStep="addStep" removeStep="removeStep"}}

  <hr />

  <a class="button" {{action 'start'}}>Start</a>
</div>
