<div class="large-3 medium-4 columns">
  <ol class="side-nav">
    <li><a href="#">Setup Test</a></li>
    <li><a href="#">Results</a></li>
  </ol>
</div>
<div class="large-9 medium-8 columns">
  <h1>Setup Test</h1>
  <label>
  Type:
  {{view "select" content=types value=selectedType}}
  </label> 
  <br/>
  <label>
  Voltage Step:
  {{ember-ion-rangeslider
    from_min="false"
    from_max="false"
    to_min="false"
    to_max="false"
    min=incrementMin
    max=incrementMax
    step=incrementStep
    from=selectedIncrement
    postfix="v"}}
  </label>
  
  <label>
  Voltage Range:
  {{ember-ion-rangeslider
    type="double"
    grid=true
    from_min="false"
    from_max="false"
    to_min="false"
    to_max="false"
    min=voltageRangeMin
    max=voltageRangeMax
    step=voltageRangeStep
    from=selectedVoltageRangeFrom
    to=selectedVoltageRangeTo
    postfix="v"}}
  </label>
  <hr />
  
  <label>
  Current Step:
  {{#each currentSteps as |step index|}}
    <div class="large-6 columns">
      <div class="row collapse">
        <div class="small-8 columns">
          {{input type="number" value=step}} 
        </div>
        <div class="small-1 columns">
          <span class="postfix prefix">mA</span>
        </div>
        <div class="small-3 columns">
          <a {{action 'removeStep' index}} class="button postfix error">Remove</a>
        </div>
      </div>
    </div>
  {{/each}}
  </label>
  <div class="row collapse">
    <a class="button" {{action 'addStep'}}>Add</a>
  </div>

  {{input type="button" value="Start" class="button"}}

</div>
